* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: rgb(218, 28, 43);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .formulario {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  a.button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(218, 28, 43);
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a.button:hover {
    background-color: rgb(218, 28, 43);
  }  